# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/api/node_modules
/api/.env
/.pnp
.pnp.js

# testing
/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/admin/node_modules
/admin/.pnp
/admin/.pnp.js

# testing
/admin//coverage

# production
/admin//build

# misc
/admin/.DS_Store
/admin/.env.local
/admin/.env.development.local
/admin/.env.test.local
/admin/.env.production.local

/admin/npm-debug.log*
/admin/yarn-debug.log*
/admin/yarn-error.log*

